/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $card-padding: 10px,
//   $card-text-padding: 5px,
//   $card-actions-padding: 5px,
//   $container-padding-x: 10px,
//   $data-table-footer-padding: 5px,
//   $dialog-margin: 10px
//   );
  
  
  //   $button-card-actions-margin: 0px 5px 10px 5px,
  // $shadow-key-umbra-opacity: rgba(255, 0, 0, 1),
  // $shadow-key-penumbra-opacity: rgba(255, 0, 0, 1),
  // $shadow-key-ambient-opacity: rgba(255, 0, 0, 1)
// @use "vuetify/src/styles/settings/_elevations.scss"